@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  border-spacing: 0;
  font-family: "Poppins", sans-serif;

  @apply text-sm;
}
